* {
    box-sizing: border-box;
}

html,
body,
#vueFrontApp {
    height: 100%;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent
}

html {
    overflow: hidden;
}
body {
    line-height: 1;
    overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #C6C9CE;
    margin: 15px 0;
    padding: 0
}

input,
select {
    vertical-align: middle;
    outline: none
}

html,
body {
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif, "맑은고딕", "malgun gothic", "AppleGothic", "돋움", "dotum", Helvetica, Arial !important;
    color: #444;
    font-weight: 400;
}

ul li {
    list-style: none
}

img {
    vertical-align: middle
}

caption {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden
}

legend {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    display: none
}

input,
select,
textarea,
pre {
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif, "맑은고딕", "malgun gothic", "AppleGothic", "돋움", "dotum", Helvetica, Arial !important;
    color: #444;
    font-weight: 400;
}

pre {
    white-space: pre-wrap
}

button {
    border: 0 none;
    background: transparent;
    outline: 0;
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif, "맑은고딕", "malgun gothic", "AppleGothic", "돋움", "dotum", Helvetica, Arial !important;
    color: #444;
    font-weight: 400;
    cursor: pointer;
    padding: 1px 6px;
}

input {
    vertical-align: middle
}

input[type="button"] {
    cursor: pointer;
}

input[type="checkbox"] {
    margin-right: 4px
}

input[type="radio"] {
    margin-right: 2px;
    vertical-align: middle
}

input[readonly="readonly"] {
    background: #fbf 9e4;
}

input[readonly="readonly"].validatebox-readonly {
    background: #ffffff;
}

select {
    vertical-align: middle;
    border: 1px solid #D3D3D3;
    height: 23px;
    color: #585858;
    font-size: 14px;
    padding-left: 10px
}

textarea {
    padding: 5px;
    border: 1px solid #d3d3d3;
    overflow-y: auto;
    outline: none;
}

textarea:focus {
    border: 1px solid #0173c7;
}

em,
address {
    font-style: normal
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: #444444;
    outline: none;
}

a:hover {
    text-decoration: none;
    color: #444444;
}

p,
a,
h2,
h3 {
    word-wrap: break-word;
}

textarea {
    resize: none;
}

a,
button {
    outline: none;
}

strong {
    font-weight: 500;
}

// perfect-scrollbar height
.ps {
    height: 100%;
}

.block {
    display: block;
    width: 100%;
}

.err-msg {
    color: rgb(255, 62, 62);
    margin: 5px 0;
}

.hide {
    display: none;
}